/* mechanical */

/* 
font-size

    62.5% = 10px
    56.25 = 9px
    50% = 8px
    43.75% = 7px
*/
/* Target 10px / Base 16px = 0.625 = 62.5% */
@media screen and (min-width: 100em) {
	html {
		font-size: 62.5%;
	}
}
@media screen and (min-width: 87.5em) {
	html {
		font-size: 62.5%;
	}
}

/* if screen is too small, in vertical height */
@media screen and (min-width: 87.5em) and (min-height: 40em) {
	html {
		font-size: 50%;
	}
}
@media screen and (max-width: 87.5em) {
	html {
		font-size: 56.25%;
	}
}
@media screen and (max-width: 75em) {
	html {
		font-size: 50%;
	}
}

/* ship selector */
.ship-selector__panel {
	position: absolute;
	left: -50px;
	top: 50%;
	transform: rotate(270deg);
}
/***************************************/
/* GENERIC REUSABLE */
/***************************************/

/* ordinance grahp */
.ordinance-graph {
	text-align: right;
	width: 75%;
	margin-bottom: 2rem;
	margin-left: auto;

	.ordinance-graph__title {
		margin-bottom: 0.5rem;
	}
	.ordinance-graph__body {
		background-color: var(--main-color);
		padding: 1rem 1rem;
	}
	.ordinance-graph__points {
		display: flex;
		justify-content: center;
		text-align: center;
		gap: 2rem;
		color: var(--secondary-color);
	}
	.ordinance-graph span {
		font-size: 1.6rem;
	}
}

/* speed-armor-hull */
.box__middle-right__ship-capacitors,
.box__middle-right__ship-vents {
	display: flex;
}

/* Pilot and Fighter Bay */
.small-image-box {
	width: 6rem;
	height: 6rem;
	border: 1px solid white;
}
.box__middle-left__pilot {
	margin-bottom: 1rem;

	.small-image-box__icon {
		display: block;

		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
	/* Pilot */
	.pilot-icon {
		width: 100%;
		height: 100%;
		background-image: url("/public/starsector_data/graphics/portraits/portrait_generic_grayscale.png");
	}
}

/* Bottom Left */
.bottom-left__button-wrapper button {
	display: block;
}
/* Pop Up */

.ship-sprite {
	z-index: 1;
	user-select: none;
}
