/*******************************************************************/
/*  WEAPON POP UP CLASS  */
/*******************************************************************/

.weapon-pop-up-parent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.weapon-pop-up {
	display: flex;
	align-items: flex-start;
	height: 100%;
	gap: 34rem;
}
/*****************************************************************/
/*  Weapon and Fighter Class  */
/*****************************************************************/
.weapon-pop-up,
.fighter-pop-up {
	/*******************************************************************/
	/*  HEADER  */
	/*******************************************************************/

	th:not(:nth-of-type(2)) {
		text-align: center;
	}

	.weapon-pop-up__theader th:not(:nth-of-type(1)) {
		cursor: pointer;
	}
	.weapon-pop-up__theader th:first-of-type {
		/* padding: 0 4rem; */
	}
	.weapon-pop-up__theader .theader-element div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.6rem;
		padding: 1.6rem 2.4rem;

		transition: all 0.4s;
	}
	.weapon-pop-up__theader .theader-element:hover div {
		background-color: #333;
	}

	.weapon-desc {
		line-height: 1.4;
		font-weight: 500;
	}
	/*****************************************************************/
	/*  Weapon Sprite Parent  */
	/*****************************************************************/

	.weapon-sprite-parent {
		position: relative;

		.weapon-background-sprite__size--small {
			height: 2rem;
			width: 2rem;
		}
		.weapon-background-sprite__size--medium {
			height: 2.5rem;
			width: 2.5rem;
		}
		.weapon-background-sprite__size--large {
			height: 3rem;
			width: 3rem;
		}

		.weapon-sprite {
			/* padding-bottom: 4rem; */
			transform: rotate(-45deg);
		}
		.weapon-background-sprite__type--hybrid
			.weapon-background-sprite:nth-of-type(1) {
			width: 2rem;
			height: 2rem;
		}
	}
}
/*****************************************************************/
/*  Hover Additional Information  */
/*****************************************************************/
.hover-additional-information {
	width: 40rem;
	position: relative;
	z-index: 101;
	overflow-y: auto;

	margin-left: -2rem;

	ul {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		padding: 2rem;
		/* width: 40rem; */
		/* overflow-y: scroll; */
		transition: all 0.3s;
		background-color: black;
	}
	li {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	p {
		font-size: 1.2rem;
	}
	.weapon-divider {
		background-color: var(--dark-text-color);
		padding: 1.2rem 0;
		text-align: center;
	}
	.weapon-primary-data,
	.weapon-anciliary-data {
		grid-template-columns: 1fr 3fr;
		position: relative;
		gap: 1.6rem;
	}
	.weapon-primary-data_content {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	.weapon-mount-type {
		text-align: right;
	}

	.weapon-damage-type p:last-child {
		margin: 1rem 0;
	}

	.weapon__icon {
		img {
			min-height: 5rem;
		}
		.weapon-sprite-parent {
			width: 10rem;
			height: 10rem;
			.weapon-background-sprite__size--small {
				height: 4rem;
				width: 4rem;
			}
			.weapon-background-sprite__size--medium {
				height: 5rem;
				width: 5rem;
			}
			.weapon-background-sprite__size--large {
				height: 6rem;
				width: 6rem;
			}

			.weapon-background-sprite__type--hybrid
				.weapon-background-sprite:nth-of-type(1) {
				width: 3rem;
				height: 3rem;
			}
		}
		.weapon-sprite {
			position: relative;
			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%) rotate(45deg);
		}
		.weapon-sprite--gun,
		.weapon-sprite--base {
			position: absolute;
			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);
		}
	}
	/* weapon-content-group */
	.weapon-content-group {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin: 1rem 0;
	}
	.weapon-content-group .fighter-flex-column {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		text-align: right;
	}
}

/* weapon tier background */
.weapon-tier-parent .weapon-tier {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-width: 0.16rem;
	border-style: solid;
}

.weapon-pop-up__table {
	/* height: 70vh; */

	.weapon-pop-up__table-wrapper {
		height: 60rem;
		overflow-y: scroll;
	}
	.weapon-pop-up__table-body {
		width: 60rem;
		background-color: black;
		border-collapse: collapse;

		.weapon-pop-up__theader p {
			font-size: 1.2rem;
		}
		.weapon,
		.fighter {
			cursor: pointer;
			transition: all 0.3s;
			border: 1px solid #111;
			font-size: 1.2rem;

			&:hover {
				background-color: #222;
			}
			.weapon__content,
			.fighter__content {
				display: flex;
				gap: 1.2rem;
			}

			.weapon__name,
			.fighter__name {
				font-weight: 600;
				line-height: 1.4;
			}

			.weapon__type,
			.fighter__type {
				border-radius: 5px;
				font-size: 1rem;
				letter-spacing: 0.5px;
			}

			.weapon__cost,
			.fighter__cost {
				font-weight: 700;
				font-size: 1.4rem;
				/* TODO Replace with proper color */
				color: var(--white-text-color);
			}

			/* ! I need to change the class itself */
			&.weapon--active,
			&.fighter--active {
				font-size: 1.2rem;
				background-color: rgba(0, 126, 25, 0.5);

				.fighter__icon {
					padding: 0rem;
				}
				.weapon__icon {
					padding: 3.6rem 0.6rem;
				}
			}

			/*******************************************************************/
			/*  WEAPON SPRITE  */
			/*******************************************************************/
			.fighter__icon {
				padding: 1.4rem 0.6rem;
			}
			.weapon__icon,
			.fighter__icon {
				/*! overwrites table paddings */
				padding: 2.8rem 0.6rem;
				width: 6rem;
				img {
					max-height: 4rem;
				}

				.weapon-sprite--gun,
				.weapon-sprite--base {
					position: absolute;
					top: 55%;
					left: 50%;

					transform: translate(-50%, -50%);
				}
			}
		}
	}

	td {
		border: 2px solid rgba(0, 0, 0, 0.5);
	}
	td:nth-of-type(2) {
		padding: 0 2.4rem;
	}
	td:not(:nth-of-type(2)) {
		text-align: center;
	}
}

/*! Not a popup, move it to different file */
.fighter-slot-container {
	position: relative;
	.weapon-sprite-parent {
	}

	.fighter-sprite-cost {
		color: var(--secondary-color);
		text-align: right;
		padding: 0.4rem 0.4rem 0 0;
		font-size: 1.2rem;
		font-weight: 500;
		opacity: 0.95;
	}
}
.fighter-pop-up .fighter-sprite-cost {
	display: none;
}
