/*******************************************************************/
/*  FIGHTER POP UP CLASS  */
/*******************************************************************/
.fighter-pop-up {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	z-index: 100;

	display: flex;
	flex-direction: reverse;

	height: 65vh;
	/* align-items: flex-start; */

	.table-entries {
		grid-template-columns: 8rem 1fr 16rem 10rem 10rem 10rem;
	}
	.table-entry {
		text-transform: capitalize;
	}
	.weapon-primary-data {
		display: flex;
		flex-direction: column;
	}
	.fighter-flex-column {
		/* display: flex;
		flex-direction: column;
		gap: 1rem; */
	}
}

/* Fighter Sprites */
.fighter-sprite-container {
	width: 5rem;
	height: 5rem;

	.fighter__sprite {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 1.5rem;
		height: 1.5rem;
	}

	/* Fighters = 1 */
	.fighter__sprites-max--1 {
		width: 2.5rem;
		height: 2.5rem;
	}

	/* Fighters = 2 */
	.fighter__sprites-max--2 {
		width: 2rem;
		height: 2rem;
	}
	.fighter__sprites-max--2.fighter__sprite--1 {
		top: 30%;
		left: 30%;
	}
	.fighter__sprites-max--2.fighter__sprite--2 {
		top: 70%;
		left: 70%;
	}

	/* Fighters = 3 */
	.fighter__sprites-max--3 {
		width: 2rem;
		height: 2rem;
	}
	.fighter__sprites-max--3.fighter__sprite--1 {
		top: 30%;
		left: 50%;
	}
	.fighter__sprites-max--3.fighter__sprite--2 {
		top: 70%;
		left: 70%;
	}
	.fighter__sprites-max--3.fighter__sprite--3 {
		top: 70%;
		left: 30%;
	}

	/* Fighters = 4 */
	.fighter__sprites-max--4 {
		width: 1.8rem;
		height: 1.8rem;
	}
	.fighter__sprites-max--4.fighter__sprite--1 {
		top: 30%;
		left: 70%;
	}
	.fighter__sprites-max--4.fighter__sprite--2 {
		top: 70%;
		left: 70%;
	}
	.fighter__sprites-max--4.fighter__sprite--3 {
		top: 70%;
		left: 30%;
	}
	.fighter__sprites-max--4.fighter__sprite--4 {
		top: 30%;
		left: 30%;
	}

	/* Fighters = 5 */
	.fighter__sprites-max--5.fighter__sprite--2 {
		top: 25%;
		left: 25%;
	}
	.fighter__sprites-max--5.fighter__sprite--3 {
		top: 75%;
		left: 75%;
	}
	.fighter__sprites-max--5.fighter__sprite--4 {
		top: 25%;
		left: 75%;
	}
	.fighter__sprites-max--5.fighter__sprite--5 {
		top: 75%;
		left: 25%;
	}
	/* Fighters = 6 */
	.fighter__sprites-max--6.fighter__sprite--1 {
		top: 30%;
		left: 25%;
	}
	.fighter__sprites-max--6.fighter__sprite--2 {
		top: 30%;
		left: 50%;
	}

	.fighter__sprites-max--6.fighter__sprite--3 {
		top: 30%;
		left: 75%;
	}
	.fighter__sprites-max--6.fighter__sprite--4 {
		top: 70%;
		left: 25%;
	}
	.fighter__sprites-max--6.fighter__sprite--5 {
		top: 70%;
		left: 50%;
	}
	.fighter__sprites-max--6.fighter__sprite--6 {
		top: 70%;
		left: 75%;
	}
}
