.ship-info__title {
	font-weight: 700;
	font-size: 2rem;
	padding-bottom: 2rem;
}
.ship-info__details {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}
.ship-info__details div {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}
.ship-info__details p {
	text-transform: capitalize;
}
