/* Hull mods */
.build-in-hullmods {
}
.hullmods {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	padding: 2.4rem 0;

	.hullmods__header {
		text-align: right;
		font-size: 1.6rem;
	}

	.hullmods__container,
	.build-in-hullmods,
	.installed-hullmods {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
	}

	.hullmods__container {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
	}
	.build-in-hullmods .build-in-hullmods__container {
		display: flex;
		flex-direction: column;
		margin-left: auto;

		/* background-color: rgba(0, 0, 0, 0.25); */
		/* border: 0.1rem solid rgba(0, 0, 0, 0.5); */

		/* padding: 1.6rem;
		gap: 1.6rem; */

		.hullmod {
			/* width: max-content; */

			padding-left: 2.4rem;
			/* padding: 1.4rem 1.4rem 1.4rem 2.4rem; */
		}
	}
	.installed-hullmods {
		max-height: 14rem;

		overflow-y: auto; /* Enables scrolling when content overflows */
		scrollbar-color: var(--main-darker-color) #000000; /* Thumb color, Track color */
		scrollbar-gutter: stable; /* Reserve space for scrollbar */

		padding-right: 1rem;
	}
	.hullmod {
		border: 0.3rem solid transparent;

		h5 {
			font-size: 1.2rem;
		}
		img {
			height: 3rem;
			width: 3rem;
		}

		.hullMod__cost {
			font-weight: 800;
			font-size: 1.6rem;
		}
	}
	.hullmod:hover {
		background-color: rgba(255, 255, 255, 0.1);
		border: 0.3rem solid rgba(255, 255, 255, 0.1);
		border-radius: 0.3rem;
	}
}
