.icon-generic {
	font-size: 1.8rem;
	transition: background-color 0.3s;

	border-radius: 50%;
}
/* 
.icon-generic:hover {
	background-color: var(--main-lighter-color);
} */

/* Container for Font Icon */
.icon-container {
	display: flex;
	align-items: center;
}

/* Base class for all icons */
.material-symbols-outlined {
	font-size: 2rem;

	font-family: "Material Symbols Outlined Variable", sans-serif;
	font-variation-settings: "wght" 500;
	display: inline-block;
	direction: ltr;
}
