/* Weapon Slots and Weapon Background Sprite*/
/* They are different, but the same element, just in different places */

.weapon-slots {
	position: relative;
	z-index: 2;

	.weapon-sprite-parent {
		.weapon-sprite {
			transform: rotate(var(--weapon-rotate, 0deg));
		}
		.weapon-sprite--gun {
			z-index: 200;
		}
		.weapon-sprite--base {
			z-index: 201;
		}
		.weapon-sprite--gun,
		.weapon-sprite--base {
			position: absolute;
			top: 55%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all 0.5s;
		}
	}

	.weapon-slot {
		position: absolute;
		z-index: 3;
		content: "";
		border: none;

		transform: translate(-50%, -50%);

		/* size */
		.weapon-background-sprite__size--small {
			height: 1.6rem;
			width: 1.6rem;
		}
		.weapon-background-sprite__size--medium {
			height: 2.6rem;
			width: 2.6rem;
		}
		.weapon-background-sprite__size--large {
			height: 3.6rem;
			width: 3.6rem;
		}
	}
	/* hover size */
	.weapon-slot:hover {
		background-color: transparent;
		z-index: 100;

		.weapon-background-sprite {
			border-width: 0.3rem;
		}

		/* opacity hover */
		.weapon-background-sprite__opacity--full {
			opacity: 1;
		}
		.weapon-background-sprite__opacity--medium {
			opacity: 0.75;
		}
		.weapon-background-sprite__opacity--light {
			opacity: 0.5;
		}

		.weapon-background-sprite__size--small {
			height: 3rem;
			width: 3rem;
		}
		.weapon-background-sprite__size--medium {
			height: 4.5rem;
			width: 4.5rem;
		}
		.weapon-background-sprite__size--large {
			height: 6rem;
			width: 6rem;
		}

		.weapon-sprite--gun,
		.weapon-sprite--base {
			transform: scale(1.2) translate(-42%, -48%);
			transition: all 0.45s;
		}

		.weapon-arc {
			opacity: 1;
		}
	}
	.weapon-arc {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-50%, -50%) rotate(var(--weapon-angle, 0deg));

		z-index: -100;
		pointer-events: none;
		border-radius: 50%;
		transition: all 0.2s;
		opacity: 0;

		&::before,
		&::after {
			background: linear-gradient(
				to bottom,
				transparent 15%,
				rgba(255, 255, 255, 0.75) 35%,
				transparent 45%
			);

			position: absolute;
			top: 0%;
			left: 50%;

			height: 40rem;
			width: 0.2rem;
			content: "";
		}

		&::before {
			transform: translate(-50%, -50%) rotate(var(--before-rotate, 0deg));
		}
		&::after {
			transform: translate(-50%, -50%) rotate(var(--after-rotate, 0deg));
		}
		.weapon-arc__sprite {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(var(--arc-angle));

			&::after {
				mask-image: conic-gradient(
					from var(--before-rotate),
					black var(--arc-mask-color),
					transparent var(--arc-mask-transparent)
				);

				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);

				content: "";
				height: 20rem;
				width: 20rem;
				border-radius: 50%;

				border: 0.24rem solid;
				border-color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}

/* It is only for weapon pop up table, background icon. */
.weapon-background-sprite-parent {
	.weapon-background-sprite {
		border-width: 0.2rem;
		/* 0.16 */
		border-style: solid;

		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	/* color */
	.weapon-background-sprite__type--ballistic {
		border-color: var(--ballistic-slot);
	}
	.weapon-background-sprite__type--energy {
		border-color: var(--energy-slot);
	}
	.weapon-background-sprite__type--missile {
		border-color: var(--missile-slot);
	}

	.weapon-background-sprite__type--hybrid {
		border-color: var(--hydrid-slot);
	}
	.weapon-background-sprite__type--composite {
		border-color: var(--composite-slot);
	}
	.weapon-background-sprite__type--synergy {
		border-color: var(--synergy-slot);
	}
	.weapon-background-sprite__type--universal {
		border-color: var(--universal-slot);
	}

	.weapon-background-sprite__opacity--full,
	.weapon-background-sprite__opacity--medium,
	.weapon-background-sprite__opacity--light,
	.weapon-background-sprite__size--small,
	.weapon-background-sprite__size--medium,
	.weapon-background-sprite__size--large {
		transition: all 0.2s;
	}

	.weapon-background-sprite__type--missile,
	.weapon-background-sprite__type--synergy:nth-of-type(2),
	.weapon-background-sprite__type--composite:nth-of-type(2) {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.weapon-background-sprite__type--energy,
	.weapon-background-sprite__type--hybrid:nth-of-type(1),
	.weapon-background-sprite__type--synergy:nth-of-type(1) {
		border-radius: 50%;
	}

	.weapon-background-sprite__type--hybrid
		.weapon-background-sprite:nth-of-type(1) {
		width: 2rem;
		height: 2rem;
	}

	.weapon-background-sprite__type--composite:nth-of-type(2) {
		width: 1.75rem;
		height: 1.75rem;
	}
	.weapon-background-sprite__type--composite:nth-of-type(2):hover {
		width: 3rem;
		height: 3rem;
	}

	/* opacity */
	.weapon-background-sprite__opacity--full {
		opacity: 1;
	}
	.weapon-background-sprite__opacity--medium {
		opacity: 0.8;
	}
	.weapon-background-sprite__opacity--light {
		opacity: 0.6;
	}
}

/* Only related to the Weapon PopUp table */
.table__icon {
	/* opacity */
	/* .weapon-background-sprite__opacity--full {
		opacity: 1;
	}
	.weapon-background-sprite__opacity--medium {
		opacity: 0.8;
	}
	.weapon-background-sprite__opacity--light {
		opacity: 0.6;
	} */

	/* size */
	/* .weapon-background-sprite__size--small {
		height: 3.2rem;
		width: 3.2rem;
	}
	.weapon-background-sprite__size--medium {
		height: 2.6rem;
		width: 2.6rem;
	}
	.weapon-background-sprite__size--large {
		height: 3.6rem;
		width: 3.6rem;
	} */

	.weapon-background-sprite__size--small {
		height: 1.5rem;
		width: 1.5rem;
	}
	.weapon-background-sprite__size--medium {
		height: 2.5rem;
		width: 2.5rem;
	}
	.weapon-background-sprite__size--large {
		height: 3.5rem;
		width: 3.5rem;
	}
	.weapon-background-sprite__type--hybrid
		.weapon-background-sprite:nth-of-type(1) {
		width: 2rem;
		height: 2rem;
	}
}
